.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    max-width: 1440px;
}

.letter {
    display: flex;
    justify-content: center;
    align-items: center;
}

.letter__img {
    width: 80%;
    height: auto;
}

.test {
    /* position: relative; */
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid 1px;
    border-color: rgb(214, 210, 210);
    padding: 16px;
}

.letter__team {
    font-size: xx-large;
    color: tomato;
}

.test__word {
    display: flex;
    margin: 0;
    padding-top: 16px;
    font-size: x-large;
    letter-spacing: 3px;
    position: relative;
}

.test__caption:after {
    position: absolute;
    top: 8px;
    right: -70px;
    color: white;
    background-color: green;
    border-radius: 15%;
    content: "Правильно!";
    font-size: small;
    letter-spacing: 0em;
}

.test__caption_err:after {
    position: absolute;
    top: 8px;
    right: -80px;
    color: white;
    background-color: red;
    border-radius: 15%;
    content: "Неправильно!";
    font-size: small;
    letter-spacing: 0em;
}

p {
    margin: 0;
}

.alphabet {
    width: 40%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 16px;
    border: solid 0.5px;
    border-color: rgb(45, 118, 255);
    color: rgb(28, 28, 112);
    font-weight: bold;
}

.alphabet__letter{
    margin-right: 8px;
    margin-bottom: 5px;
}
.alphabet__letter_select{
    color: crimson;
    border-bottom: solid 1px crimson;
}